// This theme extends the volto-light-theme
@import 'root';
@import 'mixins';
@import 'typography';
@import 'typo-custom';
@import 'code/prism';
@import 'components/version_overview';
@import 'components/blocks/listing_image_album';
